.create-fieldset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .create-fieldset {
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 0px lightgrey;
  }
  
  .create-fieldset legend {
    font-size: 30px;
  }
  
  .create-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .create-form-error-message-span{
    align-self: baseline;
    margin: 10px auto;
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
  
  .create-form-label {
    padding: 12px 30px;
    font-size: 20px;
  }
  
  .create-form-label-input {
    height: 30px;
    width: 360px;
    font-size: 20px;
  }
  
  #create-form-textarea {
    margin: 0px;
    height: 80px;
    width: 360px;
  }
  
  .create-form-label-paragraph {
    position: relative;
    top: 41px;
    right: 133px;
  }

  .error {
    border-color: red;
    background-color: rgb(243, 175, 168);
  }

  @media (max-width: 700px) {
    .create-fieldset-wrapper {
      max-width: 555px;
      margin: 50px auto;
    }

    .create-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 500px;
    }

    .create-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 500px;
    }

    .create-form-label {
      padding: 12px 4px;
      font-size: 16px;
    }

    .create-form-label-input {
      height: 30px;
      width: 300px;
      font-size: 15px;
    }

    #create-form-textarea {
      margin: 0px;
      height: 80px;
      width: 300px;
    }

    .create-form-label-paragraph {
      position: relative;
      top: 41px;
      right: 105px;
    }
  }

  @media (max-width: 550px) {
    .create-fieldset-wrapper {
      max-width: 555px;
      margin: -60px auto;
    }

    .create-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 393px;
    }

    .create-form-label {
      padding: 12px 4px;
      font-size: 14px;
    }

    .create-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 393px;
    }

    .create-form-label-input {
      height: 30px;
      width: 200px;
      font-size: 15px;
    }

    #create-form-textarea {
      margin: 0px;
      height: 80px;
      width: 200px;
    }

    .submit-btn {
      align-self: center;
      margin: 20px;
      border-radius: 17px;
      border: 2px solid black;
      padding: 6px 14px;
      font-size: 16px;
      background: greenyellow;
    }
  }

  @media (max-width:440px) {
    .create-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 300px;
    }

    .create-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 300px;
    }

    .create-form-label {
      padding: 12px 4px;
      font-size: 12px;
    }

    .create-form-label-input {
      height: 20px;
      width: 150px;
      font-size: 12px;
    }

    .create-form-label-paragraph {
      position: relative;
      top: 41px;
      right: 90px;
    }

    #create-form-textarea {
      margin: 0px;
      height: 80px;
      width: 150px;
    }
  }