.register-fieldset-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  
  }
  
  .register-fieldset {
    background-color: #e6e6e6;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 0px lightgrey;
  }
  
  .register-fieldset legend {
    font-size: 30px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .register-form-label {
    padding: 12px 30px;
    font-size: 20px;
  }
  
  .register-form-input {
    height: 30px;
    width: 360px;
    font-size: 20px;
  }
  
  .already-have-account {
    margin: 20px 200px 20px 0px;
    font-size: 18px;
  }
  

  @media (max-width: 700px) {
    .register-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 500px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 500px;
    }

    .register-form-label {
      padding: 12px;
      font-size: 16px;
    }

    .register-form-input {
      height: 30px;
      width: 279px;
      font-size: 15px;
    }

    .already-have-account {
      margin: 20px;
      font-size: 18px;
      align-self: center;
    }
  }

  @media (max-width: 550px) {
    .register-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 393px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 393px;
    }

    .register-form-input {
      height: 30px;
      width: 200px;
      font-size: 15px;
    }

    
  }

  @media (max-width:440px) {
    .register-fieldset {
      background-color: #e6e6e6;
      border-radius: 8px;
      box-shadow: 2px 2px 7px 0px lightgrey;
      width: 314px;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 314px;
    }

    .register-form-label {
      padding: 12px 4px;
      font-size: 12px;
    }

    .register-form-input {
      height: 20px;
      width: 150px;
      font-size: 12px;
    }

    .already-have-account {
      margin: 20px;
      font-size: 13px;
      align-self: center;
    }
  }